.trip-img{
  width: 450px;
  height: 550px;
}
@media(max-width:1600px){
  .trip-img{
    width: 400px;
    height: 500px;
  }
}
@media(max-width:1400px){
  .trip-img{
    width: 380px;
    height: 480px;
  }
}
@media(max-width:500px){
  .trip-img{
    width: 320px;
    height: 420px;
  }
}
@media(max-width:420px){
  .trip-img{
    width: 300px;
    height: 400px;
  }
} 
@media(max-width:400px){
  .trip-img{
    width: 95%;
    height: 350px;
  }
} 

.trip-paragraph{
  font-family: "Helvetica";
  font-size: 0.90rem;
  line-height: 1.25;
}

.trip-title{
  font-family: 'Vidaloka-Regular';
  color: #000000;
  font-size: 3.5rem;
  padding-right: 5rem;
}
@media(max-width:1300px){
  .trip-title{
    font-family: 'Vidaloka-Regular';
    font-size: 3.5rem;
    padding-right: 5rem;
  }
}
@media(max-width:1200px){
  .trip-title{
    font-family: 'Vidaloka-Regular';
    font-size: 3.5rem;
    padding-right: 0rem;
  }
}

.trip-title2{
  color: black;
  font-family: 'Vidaloka-Regular';
  font-size: 3.5rem;
}

.text-width{
  width: 30% !important;
}
@media(max-width:1260px){
  .text-width{
    width: 28% !important;
  }
}
@media(max-width:1200px){
  .text-width{
    width: 100% !important;
  }
}

.slide-width{
  width: 70% !important;
}
@media(max-width:1260px){
  .slide-width{
    width: 72% !important;
  }
}
@media(max-width:1200px){
  .slide-width{
    width: 100% !important;
  }
}

.dropdown-button-motorcycle{
  position: relative;
  right: -50%;
  font-size: 1.5rem;
  cursor: pointer;
}

.dropdown-button-atamisque{
  margin-left: 5rem;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
  z-index: 2;
}

.dropdown-button-club{
  position: absolute;
  top: 93.5%;
  right: 73%;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
  z-index: 2;
}

#dropdownButton{
  position: absolute;
  right: -5%;
  cursor: pointer;
}

.font-light{
  color: rgb(88, 88, 88);
}

.slide-container{
  position: relative;
  display: flex;
  margin-left: 12%;
  margin-top: 8rem;
  margin-bottom: 8rem;
}
@media(max-width:1500px){
  .slide-container{
    position: relative;
    display: flex;
    margin-left: 11%;
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}
@media(max-width:1400px){
  .slide-container{
    position: relative;
    display: flex;
    margin-left: 14%;
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}
@media(max-width:1350px){
  .slide-container{
    position: relative;
    display: flex;
    margin-left: 14%;
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}
@media(max-width:1300px){
  .slide-container{
    position: relative;
    display: flex;
    margin-left: 9%;
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}
@media(max-width:1200px){
  .slide-container{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}

.slide-container-2{
  position: relative;
  display: flex;
  margin-right: 12%;
  margin-top: 8rem;
  margin-bottom: 2rem;
}
@media(max-width:1500px){
  .slide-container-2{
    position: relative;
    display: flex;
    margin-right: 11%;
    margin-top: 8rem;
  }
}
@media(max-width:1400px){
  .slide-container-2{
    position: relative;
    display: flex;
    margin-right: 11%;
    margin-top: 8rem;
  }
}
@media(max-width:1350px){
  .slide-container-2{
    position: relative;
    display: flex;
    margin-right: 11%;
    margin-top: 8rem;
  }
}
@media(max-width:1300px){
  .slide-container-2{
    position: relative;
    display: flex;
    margin-right: 9%;
    margin-top: 8rem;
  }
}
@media(max-width:1200px){
  .slide-container-2{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 8rem;
  }
}

.trip-slide{
  --swiffy-slider-item-gap-totalwidth: 0.5rem !important
}

.trip-slide2{
  --swiffy-slider-item-gap-totalwidth: 0.5rem !important
}

.next-trip{
  color: white;
  position: absolute;
  top: 45%;
  right: 2.5%;
}

.next-trip2{
  color: white;
  position: absolute;
  top: 45%;
  left: 4.5%;
}

.margin-slide{
  margin-left: 0% !important;
}
@media(max-width:1600px){
  .margin-slide{
    margin-left: 6% !important;
  }
}
@media(max-width:1500px){
  .margin-slide{
    margin-left: 6% !important;
  }
}
@media(max-width:1450px){
  .margin-slide{
    margin-left: 0.5% !important;
  }
}
@media(max-width:1400px){
  .margin-slide{
    margin-left: 0% !important;
  }
}
@media(max-width:1350px){
  .margin-slide{
    margin-left: 1.7% !important;
  }
}
@media(max-width:1300px){
  .margin-slide{
    margin-left: 2% !important;
  }
}
@media(max-width:1260px){
  .margin-slide{
    margin-left: 1% !important;
  }
}
@media(max-width:1200px){
  .margin-slide{
    margin-left: 0% !important;
    margin-top: 10% !important;
  }
}

.margin-slide-2{
  margin-right: 0% !important;
}
@media(max-width:1600px){
  .margin-slide-2{
    margin-right: 6% ;
  }
}
@media(max-width:1500px){
  .margin-slide-2{
    margin-right: 6% ;
  }
}
@media(max-width:1450px){
  .margin-slide-2{
    margin-right: 0% ;
  }
}
@media(max-width:1450px){
  .margin-slide-2{
    margin-right: 1% ;
  }
}
@media(max-width:1400px){
  .margin-slide-2{
    margin-right: 4% !important;
  }
}
@media(max-width:1350px){
  .margin-slide-2{
    margin-right: 0% ;
  }
}
@media(max-width:1300px){
  .margin-slide-2{
    margin-right: 2% ;
  }
}
@media(max-width:1260px){
  .margin-slide-2{
    margin-right: 1% ;
  }
}
@media(max-width:1200px){
  .margin-slide-2{
    margin-right: 0% ;
    margin-top: 10% ;
  }
}

.ss{
  margin-right: 0% !important;
  padding-left: 3%;
}
@media(max-width:1600px){
  .ss{
    padding-left: 3%;
  }
}
@media(max-width:1500px){
  .ss{
    padding-left: 2.7%;
  }
}
@media(max-width:1450px){
  .ss{
    padding-left: 3%;
  }
}
@media(max-width:1400px){
  .ss{
    padding-left: 3%;
  }
}
@media(max-width:1350px){
  .ss{
    padding-left: 2%;
  }
}
@media(max-width:1300px){
  .ss{
    padding-left: 0.7%;
  }
}
@media(max-width:1250px){
  .ss{
    padding-left: 0.5%;
  }
}
@media(max-width:660px){
  .ss{
    padding-left: 8%;
  }
}
@media(max-width:600px){
  .ss{
    padding-left: 4%;
  }
}
@media(max-width:550px){
  .ss{
    padding-left: 1%;
  }
}
@media(max-width:500px){
  .ss{
    padding-left: 7%;
    padding-right: 0%;
  }
}
@media(max-width:460px){
  .ss{
    padding-left: 4%;
    padding-right: 0%;
  }
}
@media(max-width:440px){
  .ss{
    padding-left: 0.5%;
    padding-right: 0%;
  }
}
@media(max-width:420px){
  .ss{
    padding-left: 1.3%;
    padding-right: 0%;
  }
}
@media(max-width:400px){
  .ss{
    padding-left: 7%;
    padding-right: 0%;
  }
}

.ss-2{
  margin-left: 0% !important;
  padding-right: 0% !important;
  padding-left: 2%;
}
@media(max-width:1600px){
  .ss-2{
    padding-right: 3%;
  }
}
@media(max-width:1500px){
  .ss-2{
    padding-right: 2.7%;
  }
}
@media(max-width:1450px){
  .ss-2{
    padding-right: 3%;
  }
}
@media(max-width:1400px){
  .ss-2{
    padding-right: 0%;
    padding-left: 0%;
  }
}
@media(max-width:1300px){
  .ss-2{
    padding-right: 0.7%;
  }
}
@media(max-width:1250px){
  .ss-2{
    padding-right: 0.5%;
  }
}
@media(max-width:1200px){
  .ss-2{
    padding-left: 1%;
    padding-right: 0.5% !important;
  }
}
@media(max-width:720px){
  .ss-2{
    padding-right: 13%;
  }
}
@media(max-width:660px){
  .ss-2{
    padding-left: 8% !important;
    padding-right: 8%;
  }
}
@media(max-width:600px){
  .ss-2{
    padding-left: 5% !important;
    padding-right: 4%;
  }
}
@media(max-width:550px){
  .ss-2{
    padding-left: 1% !important;
    padding-right: 1%;
  }
}
@media(max-width:500px){
  .ss-2{
    padding-left: 6% !important;
    padding-right: 7%;
  }
}
@media(max-width:460px){
  .ss-2{
    padding-left: 1% !important;
    padding-right: 4%;
  }
}
@media(max-width:440px){
  .ss-2{
    padding-right: 0.5%;
  }
}
@media(max-width:420px){
  .ss-2{
    padding-right: 1.3%;
  }
}
@media(max-width:400px){
  .ss-2{
    padding-left: 5% !important;
    padding-right: 7%;
  }
}

.swiper-button-next {
  position: absolute;
  top: var(--swiper-navigation-top-offset,50%);
  width: 3rem !important;
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: azure;
}
@media(max-width:720px){
  .swiper-button-next {
    display: none !important;
    position: absolute;
    top: var(--swiper-navigation-top-offset,50%);
    width: 3rem !important;
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 255, 255);
  }
}

.swiper-button-next:after {
  content: none !important;
}

.swiper-button-prev {
  position: absolute;
  top: var(--swiper-navigation-top-offset,50%);
  width: 3rem !important;
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: azure;
}
@media(max-width:720px){
  .swiper-button-prev {
    display: none !important;
    position: absolute;
    top: var(--swiper-navigation-top-offset,50%);
    width: 3rem !important;
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 255, 255);
  }
}

.swiper-button-prev:after {
  content: none !important;
}

/* ARROWS */
svg {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
  transition: all 0.5s cubic-bezier(0.645,  0.045, 0.355, 1.000);
  overflow: visible;
  will-change: transform;
}

.svg-p7 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-40%, -50%);
  width: 15px;
  height: 13px;
  fill: rgb(255, 255, 255);
}
@media(max-width:1000px){
  .svg-p7 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 13px;
    fill: rgb(119, 119, 119);
  }
}
@media(max-width:720px){
  .svg-p7 {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 13px;
    fill: rgb(255, 255, 255);
  }
}
.svg-2-p7 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-60%, -50%);
  width: 15px;
  height: 13px;
  fill: rgb(255, 255, 255);
}
@media(max-width:1000px){
  .svg-2-p7 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-60%, -50%);
    width: 15px;
    height: 13px;
    fill: rgb(119, 119, 119);
  }
}
@media(max-width:720px){
  .svg-2-p7 {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-60%, -50%);
    width: 15px;
    height: 13px;
    fill: rgb(255, 255, 255);
  }
}

.svg-3-p7 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-30%, -50%);
  width: 15px;
  height: 13px;
  fill: rgb(255, 255, 255);
}
@media(max-width:1000px){
  .svg-3-p7 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 15px;
    height: 13px;
    fill: rgb(119, 119, 119);
  }
}
@media(max-width:720px){
  .svg-3-p7 {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 15px;
    height: 13px;
    fill: rgb(255, 255, 255);
  }
}


.svg:before {
  position: absolute;
  height: 1px;
}

.arrow-p7 {
    margin: -33px 0 0;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 3;
    width: 55px;
    height: 55px;
    border: 1px solid white;
    border-radius: 50%;
}
@media(max-width:1000px){
  .arrow-p7 {
    margin: -33px 0 0;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 3;
    width: 55px;
    height: 55px;
    border: 1px solid rgb(119, 119, 119);
    border-radius: 50%;
  }
}
@media(max-width:720px){
  .arrow-p7 {
    display: none;
    margin: -33px 0 0;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 3;
    width: 55px;
    height: 55px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
  }
}
  
.arrow__line-p7 {
    fill:none;
    stroke: rgb(255, 255, 255); 
    stroke-width: 2;
    stroke-miterlimit: 10;
    position: absolute;
}
@media(max-width:1000px){
  .arrow__line-p7 {
    fill:none;
    stroke: rgb(119, 119, 119); 
    position: absolute;
  }
}
@media(max-width:720px){
  .arrow__line-p7 {
    display: none;
    fill:none;
    stroke: rgb(255, 255, 255); 
    position: absolute;
  }
}

.prev-p7 {
  left: 5% !important;
}
@media(max-width:1200px){
  .prev-p7 {
    left: 8% !important;
  }
}
@media(max-width:1100px){
  .prev-p7 {
    left: 6% !important;
  }
}
@media(max-width:1000px){
  .prev-p7 {
    left: 87% !important;
  }
}
@media(max-width:592px){
  .prev-p7 {
    left: 15% !important;
  }
}
@media(max-width:500px){
  .prev-p7 {
    left: 8% !important;
  }
}

.prev-p7 svg {
  transform: translateX(2px);
}


.next-p7 {
  right: 5% !important;
}
@media(max-width:1200px){
  .next-p7 {
    right: 8% !important;
  }
}
@media(max-width:1100px){
  .next-p7 {
    right: 6% !important;
  }
}
@media(max-width:592px){
  .next-p7 {
    right: 15% !important;
  }
}
@media(max-width:500px){
  .next-p7 {
    right: 8% !important;
  }
}

.next-p7 svg {
  transform: translateX(-2px);
}


.next:hover .svg svg .arrow__line-p7 {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

/* ITINERARY */

.gray{
  color: #949599;
}

.circle-gray{
  background-color: #949599 !important;
}

.black{
  color: #301f11;
}

.circle-hover{
  background-color: #301f11 !important;
}

.hour-container{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1%;
}

.start-hour{
 font-family: 'Roboto-Bold';
 margin-bottom: 0%;
 margin-left: -1%;
}

.end-hour{
  font-family: 'Roboto-Bold';
  margin-bottom: 0%;
  margin-right: -3%;
}

.timeline-container-p7{
  margin-right: 10%;
  margin-left: 1%;
  margin-top: 1%;
}

.itinerary-container{
  margin-left: 3.5%;
}

.hour-container-2{
  display: flex;
  justify-content: space-between;
  padding-bottom: 0%;
}

.start-hour-2{
 font-family: 'Roboto-Bold';
 margin-bottom: 0%;
 margin-left: -1%;
}

.end-hour-2{
  font-family: 'Roboto-Bold';
  margin-bottom: 0%;
  margin-right: 40%;
}

.end-hour-3{
  font-family: 'Roboto-Bold';
  margin-bottom: 0%;
  margin-right: 25%;
}

.middle-hour{
  font-family: 'Roboto-Bold';
  margin-bottom: 1.5%;
  margin-right: 72%;
}

.timeline-container-2-p7{
  margin-right: 10%;
  margin-left: 1%;
  margin-top: 2%;
}

.itinerary-container-2{
  margin-left: 3.5%;
}

.itinerary-p7{
  margin-top: 5rem !important;
}

.itinerary-2-p7{
  margin-top: 5rem;
}

.item-itinerary-1-p7{
  cursor:pointer;
  width: 13%;
  padding-right: 3%;
}
.item-itinerary-2-p7{
  cursor:pointer;
  width: 15%;
  padding-right: 1%;
}
.item-itinerary-3-p7{
  cursor:pointer;
  width: 17%;
  padding-right: 1%;
}
.item-itinerary-4-p7{
  cursor:pointer;
  width: 17%;
  padding-right: 0%;
}
.item-itinerary-5-p7{
  cursor:pointer;
  width: 17%;
  padding-right: 0%;
}
.item-itinerary-6-p7{
  cursor:pointer;
  width: 15%;
  padding-right: 0%;
  margin-left: 1%;
}
.item-itinerary-7-p7{
  cursor:pointer;
  width: 17%;
  padding-right: 0%;
}
.item-itinerary-8-p7{
  cursor:pointer;
  width: 17%;
  padding-right: 0%;
}
.item-itinerary-9-p7{
  cursor:pointer;
  width: 13%;
  padding-right: 3%;
}
.item-itinerary-10-p7{
  cursor:pointer;
  width: 12.5%;
  padding-right: 3%;
}
.item-itinerary-11-p7{
  cursor:pointer;
  width: 13%;
  padding-right: 2%;
}
.item-itinerary-12-p7{
  cursor:pointer;
  width: 12%;
  padding-right: 3%;
}
.item-itinerary-13-p7{
  cursor:pointer;
  width: 13%;
  padding-right: 0%;
}
.item-itinerary-14-p7{
  cursor:pointer;
  width: 13%;
  padding-right: 5%;
}
.item-itinerary-15-p7{
  cursor:pointer;
  width: 13%;
  padding-right: 0%;
}
.item-itinerary-16-p7{
  cursor:pointer;
  width: 13%;
  padding-right: 2.5%;
}
.span-16{
  
}
@media screen and (width: 1369px) and (height: 629px) {
  .span-16{
    padding-right: 4%;
  }
}
.item-itinerary-17-p7{
  cursor:pointer;
  width: 12.5%;
  padding-right: 2%;
}
.item-itinerary-18-p7{
  cursor:pointer;
  width: 12.5%;
  padding-right: 2%;
}
.item-itinerary-19-p7{
  cursor:pointer;
  width: 12%;
  padding-right: 2%;
}
.item-itinerary-20-p7{
  cursor:pointer;
  width: 13.5%;
  padding-right: 1%;
}
.item-itinerary-21-p7{
  cursor:pointer;
  width: 13%;
  padding-right: 0%;
}
.item-itinerary-22-p7{
  cursor:pointer;
  width: 13%;
  padding-right: 4%;
}
.item-itinerary-23-p7{
  cursor:pointer;
  width: 13%;
  padding-right: 5%;
}
.item-itinerary-24-p7{
  cursor:pointer;
  width: 14%;
  padding-right: 0%;
}
.item-itinerary-25-p7{
  cursor:pointer;
  width: 13%;
  padding-right: 0%;
}
.item-itinerary-26-p7{
  cursor:pointer;
  width: 13%;
  padding-right: 3%;
}
.item-itinerary-27-p7{
  cursor:pointer;
  width: 11%;
  padding-right: 0%;
}

.itinerary-text-p7{
  font-family: 'Roboto-Bold';
  font-size: 0.68rem;
}

.text-items{
  max-width: 100% !important;
  margin-left: 0.4%;
  margin-top: -1%;
}

.text-items-2{
  max-width: 100% !important;
  margin-left: 0.4%;
}



.item-itinerary2{
  cursor:pointer;
  width: 12.2%;
  padding-right: 2.5%;
}

.prices-container{
  margin-bottom: 2rem;
}

.margin-price{
  margin-top: 5rem;
}

.timeline {
  position: relative;
  max-width: 57%;
  margin-top: 1rem;
  list-style: none;
}


.timeline::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
  z-index: 1;
}

.timeline-3 {
  position: relative;
  max-width: 71.5%;
  margin-top: 1rem;
  list-style: none;
}


.timeline-3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
  z-index: 1;
}

.p1 {
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 0%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}

.p2 {
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 25%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}

.p3 {
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}

.p4 {
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 75%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}

.p5 {
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 100%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}

.timeline-2 {
  position: relative;
  max-width: 100%;
  list-style: none;
}

.timeline-2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
  z-index: 1;
}

.c1 {
  cursor:pointer;
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 0%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}

.c2 {
  cursor:pointer;
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 14.2%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}

.c3 {
  cursor:pointer;
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 28.5%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}

.c4 {
  cursor:pointer;
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 42.8% ;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}

.c5 {
  cursor:pointer;
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 57.1%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}


.c6 {
  cursor:pointer;
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 71.4%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}

.c7 {
  cursor:pointer;
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 85.7%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}

.c8 {
  cursor:pointer;
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 100%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}

.d1 {
  cursor:pointer;
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 0%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}

.d2 {
  cursor:pointer;
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 20%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}

.d3 {
  cursor:pointer;
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 40%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}

.d4 {
  cursor:pointer;
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 60% ;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}

.d5 {
  cursor:pointer;
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 80%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}

.d6 {
  cursor:pointer;
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 100%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}

.asterik{
  margin-left: -0.5%;
  padding-right: 0.5%;
}

.itinerary-end{
  font-family: 'Roboto-Medium';
  font-size: 0.781rem;
  padding-right: 4.5%;
}

.text-end-padding{
  padding-left: 0.5%;
}

.sample-title{
  color: black;
  font-family: 'Roboto-Bold';
  font-size: 1.8rem;
}

.itinerary-subtitle{
  font-family: 'Roboto-Bold';
  font-size: 1.2rem;
}

.divider {
  width: 4rem;
  height: 2.5px;
  background-color: #000000; /* Color de la línea */
}

.divider-vertical {
  margin-inline: 0.7rem;
  width: 2px;
  height: 16px;
  background-color: #000000; /* Color de la línea */
}

.divider-light {
  position: relative;
  width: 5rem;
  height: 2px;
  margin-inline: 0.5rem;
  background-color: #000000; /* Color de la línea */
}

.distance{
  font-family: 'Roboto-Regular';
  font-size: 1rem;
}

.animate__animated.animate__delay-1s {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.animate__fadeInUp {
  -webkit-animation-name: none;
  animation-name: none;
}

.animate__animated {
  -webkit-animation-duration: var(--animate-duration)s;
  animation-duration: var(--animate-duration);
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}