.margin-slider-top{
  margin-top: 10%;
}

/* ARROWS */
svg {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
  transition: all 0.5s cubic-bezier(0.645,  0.045, 0.355, 1.000);
  overflow: visible;
  will-change: transform;
}

.svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(18%, -51%);
  width: 15px;
  height: 13px;
  fill: rgb(0, 0, 0);
}
.svg-white {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(11%, -51%);
  width: 15px;
  height: 13px;
  fill: rgb(255, 255, 255);
}
@media(max-width:1000px){
  .svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 13px;
    fill: rgb(0, 0, 0);
  }
}
@media(max-width:720px){
  .svg {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 13px;
    fill: rgb(255, 255, 255);
  }
}

.svg-next {
  width: 50px !important;
}

.svg:before {
  position: absolute;
  height: 1px;
}

.arrow {
    margin: -33px 0 0;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 3;
    width: 38px;
    height: 38px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
}
.arrow-2 {
    margin: -33px 0 0;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 3;
    width: 38px;
    height: 38px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
}
@media(max-width:1000px){
  .arrow {
    margin: -33px 0 0;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 3;
    width: 55px;
    height: 55px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
  }
}
@media(max-width:720px){
  .arrow {
    display: none;
    margin: -33px 0 0;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 3;
    width: 55px;
    height: 55px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
  }
}
  
.arrow__line {
    fill:none;
    stroke: rgb(0, 0, 0); 
    stroke-width: 2;
    stroke-miterlimit: 10;
    position: absolute;
}
.arrow__line-2 {
  fill:none;
  stroke: rgb(255, 255, 255); 
  stroke-width: 2;
  stroke-miterlimit: 10;
  position: absolute;
}
@media(max-width:1000px){
  .arrow__line {
    fill:none;
    stroke: rgb(0, 0, 0); 
    position: absolute;
  }
}
@media(max-width:720px){
  .arrow__line {
    display: none;
    fill:none;
    stroke: rgb(255, 255, 255); 
    position: absolute;
  }
}

.slide-m{
  margin-left: 15%;
}

.next-2{
  right: 4%;
}

.next-3{
  left: -10%;
}

.next-4{
  right: 5%;
}

.next {
  left: -15% !important;
}
@media(max-width:1200px){
  .next {
    left: 8% !important;
  }
}
@media(max-width:1100px){
  .next {
    left: 6% !important;
  }
}
@media(max-width:592px){
  .next {
    left: 15% !important;
  }
}
@media(max-width:500px){
  .next {
    left: 8% !important;
  }
}

.next svg {
  transform: translateX(-2px);
}


.next:hover .svg svg .arrow__line {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.slider-nav-scrollbar {
  --swiffy-slider-track-height: 0.4rem;
}

.fade-slide-down {
  opacity: 0;
  transform: translateY(-20px); /* Inicia con un desplazamiento hacia arriba */
  animation: fadeAndSlide 1s ease forwards;
}

@keyframes fadeAndSlide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-slide-up {
  opacity: 1;
  transform: translateY(0);
  animation: fadeAndSlideUp 1s ease forwards;
}

@keyframes fadeAndSlideUp {
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.slider-img{
  width: 320px !important;
  height: 400px !important;
}
@media(max-width:992px){
  .slider-img{
    width: 220px !important;
    height: 300px !important;
  }
}
@media(max-width:768px){
  .slider-img{
    width: 170px !important;
    height: 220px !important;
  }
}
.sc-1{
  padding-bottom: 2.5rem !important;
  --swiffy-slider-item-gap-totalwidth: 8% !important
}
@media(max-width:1600px){
  .sc-1{
    --swiffy-slider-item-gap-totalwidth: 8% !important;
  }
}
@media(max-width:1460px){
  .sc-1{
    --swiffy-slider-item-gap-totalwidth: 8% !important;
  }
}
@media(max-width:1368px){
  .sc-1{
    --swiffy-slider-item-gap-totalwidth: 6% !important;
  }
}
@media(max-width:1236px){
  .sc-1{
    --swiffy-slider-item-gap-totalwidth:8% !important;
  }
}
@media(max-width:1100px){
  .sc-1{
    --swiffy-slider-item-gap-totalwidth:0rem !important;
  }
}
@media(max-width:992px){
  .sc-1{
    --swiffy-slider-item-gap-totalwidth: 61% !important;
  }
}
@media(max-width:916px){
  .sc-1{
    --swiffy-slider-item-gap-totalwidth: 55% !important;
  }
}
@media(max-width:824px){
  .sc-1{
    --swiffy-slider-item-gap-totalwidth: 50% !important;
  }
}
@media(max-width:768px){
  .sc-1{
    --swiffy-slider-item-gap-totalwidth: 58% !important;
  }
}
@media(max-width:692px){
  .sc-1{
    --swiffy-slider-item-gap-totalwidth: 55% !important;
  }
}
@media(max-width:648px){
  .sc-1{
    --swiffy-slider-item-gap-totalwidth: 52% !important;
  }
}
@media(max-width:620px){
  .sc-1{
    --swiffy-slider-item-gap-totalwidth: 50% !important;
  }
}
@media(max-width:532px){
  .sc-1{
    --swiffy-slider-item-gap-totalwidth: 45% !important;
  }
}

.plan{
  margin-top: 20%;
  margin-left: 5%;
}

.plan-title{
  font-size: 0.9rem;
  font-family: 'Roboto-Bold';
}

.plan-text{
  font-family: 'Vidaloka-Regular';
  font-size: 1.4rem;
  line-height: 1.3;
}

.slider-nav-scrollbar {
  --swiffy-slider-track-height: 0.2rem !important;
}

.nav-pad{
  padding-bottom: 2.5rem;
}

.accomodation{
  position: absolute;
  margin-bottom: -1.5%;
}

.p-borde{
}


.animate__animated.animate__delay-1s {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.animate__fadeInUp {
  -webkit-animation-name: none;
  animation-name: none;
}

.animate__animated {
  -webkit-animation-duration: var(--animate-duration)s;
  animation-duration: var(--animate-duration);
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.itinerary-section{
  margin-top: 15%;
  margin-left: 4%;
}

.itinerary-title{
  font-family: 'Roboto-Bold';
  font-size: 2.4rem;
}

.itinerary-subtitle{
  font-family: 'Roboto-Bold';
  font-size: 1rem;
}

.itinerary-text{
  font-size: 0.8rem;
  font-family: 'Roboto-Regular';
}

.text-item{
  font-size: 0.68rem !important;
}

.btn-inquire{
  font-family: 'Roboto-Bold';
  font-size: 1rem;
  padding: 0.4% 1.5% !important;
  border-radius: 0px !important;
}

.divider {
  width: 4rem;
  height: 2.5px;
  background-color: #000000; /* Color de la línea */
}

.divider-vertical {
  margin-inline: 0.7rem;
  width: 2px;
  height: 16px;
  background-color: #000000; /* Color de la línea */
}

.divider-light {
  position: relative;
  width: 5rem;
  height: 2px;
  margin-inline: 0.5rem;
  background-color: #000000; /* Color de la línea */
}

.divider-light::after {
  content: "";
  position: absolute;
  width: 7px; /* Diámetro del círculo */
  height: 7px; /* Diámetro del círculo */
  background-color: #000000; /* Color del círculo */
  border-radius: 50%; /* Hace que el elemento sea un círculo */
  bottom: -2.5px; /* Ajusta la posición vertical del círculo */
  right: 0; /* Coloca el círculo al final de la línea */
}

.roboto-medium{
  font-family: 'Roboto-Medium' !important;
}

.italic{
  font-style: italic;
}

.hidden{
  display: none;
}

.pointer{
  cursor: pointer;
}

.timeline {
  position: relative;
  max-width: 57%;
  margin-top: 1rem;
  list-style: none;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
  z-index: 1;
}

.timeline2 {
  position: relative;
  max-width: 100%;
  margin-top: 1rem;
  list-style: none;
}

.timeline2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
  z-index: 1;
}

.p1 {
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 0%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}

.p2 {
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 25%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}

.p3 {
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}

.p4 {
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 75%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}

.p5 {
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 100%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}

.timeline-container{
  margin-right: 10%;
  margin-top: 1%;
}

.timeline-container-2{
  margin-right: 10%;
  margin-top: 2%;
}

.timeline-2 {
  position: relative;
  max-width: 100%;
  list-style: none;
}

.timeline-2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
  z-index: 1;
}

.c1 {
  cursor:pointer;
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 0%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}

.c2 {
  cursor:pointer;
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 14.2%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}

.c3 {
  cursor:pointer;
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 28.5%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}

.c4 {
  cursor:pointer;
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 42.8% ;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}

.c5 {
  cursor:pointer;
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 57.1%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}


.c6 {
  cursor:pointer;
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 71.4%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}

.c7 {
  cursor:pointer;
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 85.7%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}

.c8 {
  cursor:pointer;
  position: relative;
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 100%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 2;
}

.item-itinerary{
  width: 12.5%;
}
.item-itinerary-2{
  width: 13%;
}
.item-itinerary-3{
  width: 12%;
}
.item-itinerary-4{
  width: 13%;
}
.item-itinerary-5{
  width: 15%;
}
.item-itinerary-6{
  width: 16%;
}
.item-itinerary-7{
  width: 16%;
}
.item-itinerary-8{
  width: 17%;
}
.item-itinerary-9{
  width: 15%;
}
.item-itinerary-10{
  width: 17%;
}
.item-itinerary-11{
  width: 16%;
}
.item-itinerary-12{
  width: 16%;
}
.item-itinerary-13{
  width: 15%;
}

.gray{
  color: #949599;
}

.circle-gray{
  background-color: #949599 !important;
}

.black{
  color: #301f11;
}

.circle-hover{
  background-color: #301f11 !important;
}